/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/app/public/csv/
storage/app/public/files/
storage/app/public/tiles/
storage/logs/laravel.log
